<h1>Užduočių tvarkyklė</h1>
{{!-- 1. Sukurti užduočių įvedimą ir išssaugojimą --}}
{{!-- 2. Sukurti išsaugotų duomenų atvaizdavimą --}}
{{!-- 3. Sukurti duomenų ištrynimą --}}
{{!-- 4. Sukurti užduoties užbaigimą --}}
{{#if message}}
    <div class="alert alert-{{status}}" role="alert">{{message}}</div>
{{/if}}

<table class="table table-striped-columns mt-3 align-middle">
    <thead>
        <th colspan="3">
            <form action="/add-task" method="POST" class="input-group mb-3">
                <input type="text" class="form-control" name="task" placeholder="Įveskite užduotį">
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </th>
    </thead>
    <tbody>
        {{#each data}}
            <tr {{#if done}}class="taskDone"{{/if}}>
                <td><a href="/complete-task/{{@key}}">{{task}}</a></td>
                <td>{{date}}</td>
                <td class="text-end"><a href="/delete-task/{{@key}}" class="btn btn-danger">Delete</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>